*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: sans-serif, Helvetica, Arial;
}

p, label, button {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

main{
    max-width: 600px;
    align-content: center;
}


header{
    background-color: #696969;
    color: #FFFAFA;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
}

footer{
    background-color: #696969;
    color: #FFFAFA;
    text-align: center;
    padding: 10px;
    float: left;
    width: 100%;
}

#tabelas {
  border-collapse: collapse;
  width: 100%;
}

#tabelas td, #tabelas th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabelas tr:nth-child(even){
    background-color: #f2f2f2;
}

#tabelas tr:hover {background-color: #ddd;}

#tabelas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
